# Alternative installation using conda
# Run in terminal: conda create -n f1tyre python=3.11 -y
# Then: conda activate f1tyre
# Finally: conda install -c conda-forge --file requirements-conda.txt -y

fastf1
numpy
pandas
matplotlib
seaborn
xgboost
scikit-learn
streamlit
joblib
plotly
jupyter
